body{
    background: url(/img/back.png) no-repeat;
    margin-top: 20px;
    background-size: 100%;
    font-family: 'Source Code Pro', monospace;
}
.row_1{
    display: flex;
}
.container{ 
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px 0 20px;
}
.orar_cursurilor {
    max-width: 400px;
}
.orar_top {
    margin-bottom: 20px;
}
.orar_title {
    padding: 15px 29px 15px 15px;
    text-align: center;
    background: #f8f8f8;
    color: #666;
    width: 365px;
}
.orar_title h1{
    font-weight: 700;
}
.items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration: none;
}
.connect {
    padding: 12px 30px;
    text-align: center;
    background-color: #25975A;
    color: white;
    font-weight: bold;
}
.connect:hover{
    background: #fff;
    color: #666;
    transition: .3;
}

.d3 {background: #fff;}

.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.d3 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.d3 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.layer {
    background-color: #fff;
    overflow: auto; 
    height: 100px; 
    line-height: .5;
    font-size: 12px;
    margin-top: 20px;
   } 

   .layer p{
    margin: 10px;
   }
    

   

   .layer  :hover{
    color: #25975A;
   }

   #w{
    width: 410px;
    height: 40px;
    margin-top: 20px;
   }

   .w option{
    height: 40px;
    width: 410px;
   }

   #s{
    width: 410px;
    height: 40px;
    margin-top: 20px;
   }

   #d{
    width: 410px;
    height: 40px;
    margin-top: 20px;
   }

   .s option{
    height: 40px;
    width: 410px;
   }

   .d option{
    height: 40px;
    width: 410px;
   }

   #grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    }
  #grid > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
  }